* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Retake';
    src: url('fonts/Retake.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb';
    src: url('fonts/AirbnbCereal_W_Bk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #140730;
    font-family: 'Airbnb', sans-serif;
    padding: 1% 10%;
}

.vector-img {
    width: 20%;
    height: 20%;
    top: 0;
    left: 0;
    margin: 0% -15%
}

.city-image {
    background-image: linear-gradient(to , rgba(26, 6, 69, 0), #140730);
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -10%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 1% 0%;
    position: relative;
    z-index: 1;
    width: 100%;
}

.navbar a {
    color: white;
    padding: 0px 14px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    position: relative;
    /* z-index: 10; */
    width: 100%;
}

.navbar a:hover {
    background: linear-gradient(90deg, #ff0077, #00f7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Gradient text color effect */
    color: transparent;
}

.nav-icon-container {
    display: flex;
    gap: 20px;
}

.icon-wrapper {
    width: 40px;
    height: 40px;
    background-color: #0b3a57;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.icon-wrapper i {
    font-size: 20px;
    background: linear-gradient(45deg, #ff0077, #00f7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: linear-gradient(to right, #140730, rgba(26, 6, 69, 0));
}

.icon-container {
    display: flex;
    width: 5%;
}

.fas {
    color: #fff;
    width: 100%;

}

.button-container {
    position: relative;
    display: inline-block;
}

.hex-container {
    display: inline-block;
    position: relative;
}

.custom-button {
    border: 2px solid transparent;
    transition: all 0.3s ease;
    display: block;

}

.custom-button1 {
    border: 2px solid transparent;
    transition: all 0.3s ease;
    display: flex;
    align-self: auto;
}

.custom-button1:hover {
    border-color: transparent;
    filter: brightness(1.5);
    cursor: pointer;
}

.hex-contnr {
    display: flex;
    width: 100%;
    margin-top: 10%;
    justify-content: space-between;
    align-items: center;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: bold;
    color: #d9d9d9;
    pointer-events: none;

}

.custom-button:hover {
    border-color: transparent;
    filter: brightness(1.5);
    cursor: pointer;
    color: #fff
}

.logo-image {
    width: 8rem;
    filter: invert(0%) brightness(100%);
}

.main-title {
    margin-bottom: 2%;
    font-size: 3rem;
    font-family: 'Retake', sans-serif;
    position: relative;
    z-index: 10;
    
}

.sub-title {
    margin-bottom: 3%;
    color: #D9D9D9;
    text-align: left;
    z-index: 20;
}

.line-one {
    color: #D9D9D9;
    font-size: 4rem;
    font-weight: 100;
    
}

.line-two {
    color: #4682b4;
    font-size: 4rem;
    font-weight: 100;
    background: linear-gradient(90deg, #C327BC 33.33%, #333CF0 66.66%, #00FAFE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.sub-title2 {
    color: #D9D9D9;
    text-align: left;
    margin-bottom: 6%;

}

.sub-texts {
    font-weight: 100;
    margin-bottom: 8%
}

.title-container {
    width: 100%;
    padding: 8% 0%;
}

.stats {
    display: flex;
    margin-top: 50px;
    z-index: 10;
    position: relative;
}

.stat-item {
    margin-right: 30px;
    /* margin-left: 20px; */
}

.stat-item h2 {
    font-size: 24px;
    color: #00f7ff;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #C327BC 1.33%, #333CF0 30.66%, #00FAFE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

.stat-item p {
    font-size: 16px;
    color: #c1c1c1;
}

.middle-text {
    font-family: 'Retake', sans-serif;
    font-size: 4rem;
    color: #d6d6d6;
}

.middle-text-span {

    font-size: 4rem;
    font-weight: 100;
    background: linear-gradient(90deg, #333CF0 70%, #00FAFE 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.hex-container {
    width: 50%;
}

.title-container2 {
    width: 100%;
}

.hex-button {
    width: 100%;
    height: auto;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    display: block;
}

.hex-button:hover {
    border-color: transparent;
    filter: brightness(1.5);
    cursor: pointer;
}

.safety-container {
    align-self: last baseline;
    align-items: center;
    width: 20%;
    overflow: hidden;
}

.svg-cards {
    width: 30%;
    height: 40%;
    background-color: bisque;
}

/* card part */

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.card {
    background-color: #140730;
    border-radius: 10px;
    padding: 2%;
    width: 30%;
    color: #D9D9D9;
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    flex-direction: column;
    border-image-source: linear-gradient(90deg, #C327BC 33.33%, #333CF0 66.66%, #00FAFE 100%);
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #C327BC 33.33%, #333CF0 66.66%, #00FAFE 100%);
    align-items: center;
}

/* Media Query for smaller devices */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center; /* Center align the cards */
    }

    .card {
        width: 80%; /* Adjust width for smaller screens */
        margin-bottom: 20px; /* Add some space between cards */
    }
}

.card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid #00FAFE;
    border-radius: 10px;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.title-card {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 4%;
}

.subtitle {
    font-size: 14px;
    color: #8e7cc3;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

.start-btn {
    background-color: #3a1a6f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-btn:hover {
    background-color: #4a2a8f;
}

.footer-img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.footer-container {
    position: relative;
    margin-left: -10%;
    margin-right: -10%;
    width: calc(100% + 20%);
    overflow: hidden;
}

.footer-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #140730, rgba(26, 6, 69, 0)) 0 0,
        linear-gradient(to top, #140730, rgba(26, 6, 69, 0)) 0 100%,
        linear-gradient(to right, #140730, rgba(26, 6, 69, 0)) 0 0,
        linear-gradient(to left, #140730, rgba(26, 6, 69, 0)) 100% 0;
    background-size: 100% 30px, 100% 30px, 30px 100%, 30px 100%;
    background-repeat: no-repeat;
    z-index: 2;
    pointer-events: none;

}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d6d6d6;
    font-size: 24px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

.overlay-heading {
    font-family: 'retake', sans-serif;
    font-size: 4rem;
    color: #d9d9d9;
    position: relative;
    margin-left: -10%;
    margin-right: -10%;
    width: calc(100% + 20%);
    overflow: hidden;
}

.overlay-heading2 {
    font-family: 'retake', sans-serif;
    font-size: 4rem;
    color: #d9d9d9;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.step-img {
    width: 50%;
    position: absolute;
}

.step-img:hover {
    border-color: transparent;
    filter: brightness(1.5);
    cursor: pointer;
}

.school {
    font-size: 4rem;
    font-weight: 100;
    background: linear-gradient(90deg, #333CF0 70%, #00FAFE 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.span-middle {
    font-size: 4rem;
    font-weight: 100;
    background: linear-gradient(90deg, #C327BC, #333CF0 70%, #00FAFE 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.sub-heading {
    margin: 2% 0% 10% 0%;
    font-weight: 100;
}

footer {
    color: #D9D9D9;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.footer-top {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 100px;
}

.footer-logo img,
.footer-right-logo img {
    /* max-width: 150px; */
    text-align: left;
}

.footer-right {
    width: 780px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-options {
    display: flex;
    width: 100%;
    /* gap: 50px; */
}

.option-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.option-item {
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    margin: 10px;
}

.option-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, #0085FF 0%, #F32D8D 100%);
}

.footer-image {
    padding: 2% 0%;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* .footer-social ::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, #0085FF 0%, #F32D8D 100%);
} */

.footer-soc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.footer-social p {
    margin: 0;
}

.footer-social a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-options {
        display: none;
    }
}

.logo img {
    width: 80%;
    background: linear-gradient(45deg, #ff0077, #00f7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.logo-image-bottom {
    width: 2%;
    height: 2%;
    filter: invert(100%) brightness(100%);
}


.hex-container {
    position: relative;
    width: 45%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .hex-container {
        display: none;
    }
}
.hexagon {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.hex-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.hex-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.coin {
    position: absolute;
    width: 50px;
    height: 50px;
}

.coin1 {
    top: 20%;
    right: 25%;
    filter: sepia(1) saturate(500%) hue-rotate(-50deg) brightness(1.1);
    width: 13%;
    height: 13%
}

.coin2 {
    top: 13%;
    left: 27%;
}

.coin3 {
    bottom: 8%;
    left: 46%;
    filter: sepia(1) saturate(40%) hue-rotate(10deg) brightness(.75);
}

.coin4 {
    bottom: 30%;
    left: 16%;
    width: 13%;
    height: 13%
}

.coin5 {
    bottom: 21%;
    right: 18%;
    width: 13%;
    height: 13%
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
}

.footer-soc a:hover {
    background: linear-gradient(90deg, #ff0077, #00f7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Gradient text color effect */
    color: transparent;
}